body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}
.fixed {
  position: fixed;
  width: stretch;
  top: 0;
  background-color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}
header button {
  background-color: rgb(226 251 255);
  color: blue;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 40px;
}
.search-section {
  border: 1px solid grey;
  margin: 20px 30px;
  border-radius: 30px;
  padding: 2rem;
}
.search-section input[type="text"] {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: rgb(245 245 245);
}
.search-btn {
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  background-color: blueviolet;
}
.student-section {
  margin: 272px 30px 20px 30px;
}
.student-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  border: none;
  border-radius: 10px;
  background-color: rgb(245 245 245);
  padding: 20px 30px;
}
