body {
  background-color: rgb(255, 123, 0);
}

.head {
  color: darkblue;
}

.head:nth-child(2) span {
  color: red;
}

.head#bglime {
  background-color: lime;
}

p {
  color: white;
}

p#para {
  color: green;
}

p#para span {
  color: black;
  font-size: 25px;
}

ul {
  color: white;
}

ul li:first-child a {
  color: green;
  background-color: yellow;
}

ul li:nth-child(2) a {
  background-color: purple;
}

ol li:nth-child(2) {
  color: blue;
}

ol li:nth-child(3) {
  color: red;
}
